<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">IMDB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li  class="nav-item active offset-3">
          <a class="nav-link" routerLink="/movies">Movies <span class="sr-only">(current)</span></a>
        </li>
     
        <li class="nav-item offset-6">
          <a class="nav-link" routerLink='/templatelogin'>TemplateLogin</a>
        </li>
        <li class="nav-item offset-6">
          <a class="nav-link" routerLink='/reactivelogin'>Add Movies</a>
        </li>
      </ul>
    </div>
  </nav>