<form class="card col-md-4 offset-4 mt-5 card-body" >
        <h1 class="text-center bg-dark text-white">Form2</h1>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="candidate name">
    </div> 
     <div class="form-group">
        <input type="text" class="form-control" placeholder="year of experience">
     </div>
     <div class="form-group">
          <label class="">skills</label>
         </div>
    <div class="form-group">
        <input type="radio" > JAVA
        <input type="radio"> ANGULAR
    </div>

    <div class="form-group">
        <input type="text" class="form-control" placeholder="C C T C">
     </div>
     <div class="form-group">
        <input type="text" class="form-control" placeholder="E C T C">
     </div>
     <div class="form-group">
        <input type="text" class="form-control" placeholder="E C T C">
     </div>
     <div class="form-group">
        <button type="submit" class="btn btn-outline-success float-right" [disabled] ="form.invalid">register</button>
     </div>
</form>