<form action="" class="col-md-4 offset-4 mt-5 card card-body" #form="ngForm" (ngSubmit)="loginData(form)">
        <h1 class="text-center bg-dark text-white">FORM3</h1>
        <div class="form-group">
            <input type="email" name="email" id="email" class="form-control" placeholder="USERNAME..." #email="ngModel" ngModel required>
            <div *ngIf="email.touched && email.invalid">
                <p class="alert alert-danger" *ngIf="email.errors.required">this field is required</p>
            </div>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" class="form-control" placeholder="USER PAGE...." #password="ngModel" ngModel required> 
            <div *ngIf="password.touched && password.invalid">
                <p class="alert alert-danger" *ngIf="password.errors.required">this field is required</p>
            </div> 
        </div>
        <div class="form-group">
                <input type="password" name="password" id="password" class="form-control" placeholder="USER EMAIL...." #password="ngModel" ngModel required> 
                <div *ngIf="password.touched && password.invalid">
                    <p class="alert alert-danger" *ngIf="password.errors.required">this field is required</p>
                </div> 
            </div>
            <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="USER CONTACT NO....." #password="ngModel" ngModel required> 
                    <div *ngIf="password.touched && password.invalid">
                        <p class="alert alert-danger" *ngIf="password.errors.required" >this field is required</p>
                    </div> 
                </div>
                <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control" placeholder="PASSWORD" #password="ngModel" ngModel required> 
                        <div *ngIf="password.touched && password.invalid">
                            <p class="alert alert-danger" *ngIf="password.errors.required">this field is required</p>
                        </div> 
                    </div>
                    <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control" placeholder="RETYPE PASSWORD" #password="ngModel" ngModel required> 
                            <div *ngIf="password.touched && password.invalid">
                                <p class="alert alert-danger" *ngIf="password.errors.required">this field is required</p>
                            </div> 
                        </div>
        <div class="form-group">
           <button type="submit" class="btn btn-outline-success float-right" [disabled] ="form.invalid">register</button>
        </div>
    </form>